@keyframes fadein{
    0%{ 
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{ 
        opacity: 1; 
        transform: translateY(0);
    }
}

body{
    font-family: 'Slabo 13px', serif;
}

h1, h2, h3{
    font-family: 'Slabo 27px', serif;
    text-shadow: 2px 2px 2px black;
    box-shadow: 0px 2px 1px black;
}

.carousel h1, .carousel h3{
    box-shadow: none;
}

.navbar-brand{
    font-size: 27px;
}

h1{
    font-size: 5rem;
    text-shadow: 4px 4px 2px black;
}

h2{
    font-size: 2.5rem;
    color: darkblue;
    text-shadow: -1px 1px 1px black;
}

h3{
    font-size: 2.25rem;
    text-shadow: 4px 4px 2px black;
}

.carousel img{
    max-height: 1px;
}

.c-image{
    background-image: url('images/carousel-image.jpg');
    background-size: cover;
    color: #dddddd;
    text-shadow: 4px 4px 2px black;
}

.c-image h1, .c-image h3{
    animation: fadein 1.5s;
}

.section-container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section{
    margin-top: 24px;
    margin-bottom: 24px;
}

.title{
    text-align: center;
    padding-bottom: 5px;
    padding-top: 2px;
    border: 1px solid black;
    margin: auto;    
    margin-bottom: 30px;
    width: 250px;
    background-color: rgb(221, 231, 255);
}

.nav-padding{
    padding-bottom: 82px;
}

.navbar a{
    padding: 23px 10px;
    text-decoration: none;
    color: blue;
}

.navbar-nav a:hover{
    border-top: 5px solid darkblue;
}



.navbar li{
    font-size: 1.2rem;
}


.about-box, .skills-box, .projects-box, .contact-box{
    display: flex;
    align-items: center;
    justify-content:  center;
    align-content: center;
    width: 70%;
    margin: auto;
}

.about-box{
    justify-content: space-evenly;
    max-width: 1300px;
}

#about img{
    width: 260px;
    margin: auto;
    border: 2px solid black;
}

.about-text{
    width: 50%;
    font-size: 18px;
}



.progress{
    height: 25px;
}

.skills-box{
    justify-content: space-evenly;
    width: 100%;
}

.skills-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
}

.skills-object{
    display: flex;
    align-items: center;
    width: 400px;
    height: 100px;
    font-size: 20px;
}

.skills-object img{
    width: 100%;
}

.skills-image{
    width: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.skills-details{
    width: 100%;
}

.progress{
    width: 100%;
}

.card-header img{
    border: 1px solid black;
    object-fit: fill;
    margin: auto;
}

.card{
    width: 70%;
}

.projects-box{
    flex-direction: column;
}

.static-image{
    position: absolute;
}

.card:hover .static-image{
    opacity: 0;
}

.contact-box{
    flex-direction: column;
}

.contact-info{
    display: flex;
    justify-content: space-around;
    width: 65%;
}

.card{
    width: 700px;
    margin-top: 20px;
    margin-bottom: 50px; 
}

.contact-info-item1{
    width: 100%;
    padding-right: 20px;
}
.contact-info-item2{
    width: 100%;
    padding-left: 20px;
}

.contact-message{
    width: 65%;
}

.btn{
    width: 15%;
}

.footer-box{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px;
}

footer{
    margin-top: 50px;
    color: rgb(212, 212, 212);
    background-color: #333333;
}

.top-footer{
    padding-top: 20px;
    font-size: 18px;
}

.bottom-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    margin-top: 20px;
    font-size: 16px;
}

.bottom-footer p{
    margin-bottom: 0;
    margin-left: 5px;
}

.bottom-footer img{
    width: 35px;
}

html{
    scroll-behavior: smooth;
}


@media (min-width: 768px) {
    .navbar {
        height: 80px;
        display: flex;
        align-items: center;
    }
}
@media (max-width: 767px) {
   .navbar-header {
       height: 80px;
       padding-top: 15px;
       padding-bottom: 15px;
   }
   .navbar-toggle {
       margin-top: 5px;
   }
   .navbar a{
       padding: 12px;
   }

}            