body{
    font-family: 'Slabo 13px', serif;
}

.carousel img{
    max-height: 1px;
}

.c-image{
    background-image: url('images/carousel-placeholder.jpg');
    background-size: cover;
    color: white;
}

.section-container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section{
    margin-top: 24px;
    margin-bottom: 24px;
}

.title{
    text-align: center;
    padding-bottom: 5px;
    padding-top: 2px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin: auto;    
    margin-bottom: 30px;
    width: 250px;
}

.nav-padding{
    padding-bottom: 56px;
}

.about-box, .skills-box, .projects-box{
    display: flex;
    align-items: center;
    justify-content:  center;
    align-content: center;
    width: 70%;
    margin: auto;
}

#about img{
    width: 260px;
    margin: auto;
    border: 2px solid black;
}

#about p{
    width: 45%;
}

.progress{
    height: 20px;
}

.skills-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.skills-object{
    display: flex;
    align-items: center;
    width: 300px;
    height: 100px;
}

.skills-object img{
    width: 100%;
}

.skills-image{
    width: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.skills-details{
    width: 70%;
}

.projects-box{
    flex-direction: column;
}

#projects img{
    border: 1px solid black;
}


.footer-box{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    padding: 100px 0px;
}

footer{
    margin-top: 50px;
    color: white;
    background-color: #333333;
}

html{
    scroll-behavior: smooth;
}